BasedOnStyle: Microsoft
AccessModifierOffset: -4
UseTab: Never
IndentWidth: 4
PointerAlignment: Left
BreakConstructorInitializers: BeforeComma
ReflowComments: false
AlwaysBreakTemplateDeclarations: true